server:
  port: 9091

spring:
  application:
    name: flight-service
  config:
    import: optional:configserver:http://localhost:8888
  cloud:
    config:
      fail-fast: false
      retry:
        max-attempts: 10
        initial-interval: 1000