server:
  port: 9998

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/KudoAkinichi/flight-config-repo
          default-label: main
          clone-on-start: true
          timeout: 10

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8762/eureka/
  instance:
    prefer-ip-address: true